/* Projects.css */
.projects-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 16px;
    padding: 16px;
    justify-items: center;
}
.projects {
    margin: 10px;
    border-radius: 10px;
    background-color: rgba(60, 60, 60, 1);
    padding: 1px;
}

.projects-title {
    color: rgba(225, 225, 225, 1);
}