/* src/components/Basic/Contact/Contact.css */

.contact {
    display: flex;
    align-items: center;
    padding: 4px;
    max-width: 300px;
    overflow: hidden;
}

.contact__icon {
    height: 3rem;
    width: 3rem;
    border-radius: 5px;
    margin-right: 15px;
}

.contact__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contact__info__platform {
    font-size: 1rem;
}

.contact__info__address {
    font-size: 0.8rem;
    color: gray;
}