/* src/components/composite/Projects/Projects.css */

.projects {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 15px;
    margin: 15px;
    border-radius: 12px;
}