/* src/components/composite/Projects/Project.css */

.project {
    background-color:#dcdcdc64;
    border: 1px solid #2d3baa;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    max-width: 100%;
    max-height: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    text-align: left;
}
.project:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.project__title {
    font-size: 1.5em;
    margin: 16px 0;
    text-align: center;
}
.project__title a {
    color: #1b71ce;
    text-decoration: none;
    transition: color 0.3s ease;
}
.project__title a:hover {
    color: #0056b3;
}

.project__summary {
    font-size: 1em;
    margin: 8px 0;
    text-align: center;
}

.project__details {
    list-style-type: disc;
    padding-left: 20px;
    text-align: left;
}

.project__media {
    max-width: 100%;
    display: flex;
    justify-content: center;
    margin: 16px 0;
}

.project__technologies {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3px;
}