/* src/components/Basic/ClickableIcon/ClickableIcon.css */

.clickable-icon__link {
    text-decoration: none;
    color: inherit;
    width: 4rem;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
}

.clickable-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clickable-icon__image {
    width: 2.5rem;
    height: 2.5rem;
    margin-bottom: 4px;
}

.clickable-icon__name {
    font-size: 0.8rem;
}