/* src/components/Composite/HeaderBar/HeaderBar.css */

.header-bar {
    display: flex;
    justify-content: space-between;
    background-color: rgb(129, 129, 129);
    height: 40px;
    padding-top: 4px;
    border-style: solid;
}

.bar-title {
    margin: 2px;
}

.buttons {
    display: flex;
    background-color: inherit;
    gap: 2px;
}

.header-bar button {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 100%;
    border: none;
    width: 150px;
}

.header-bar button:hover {
    background-color: darkgray;
}

.active {
    background-color: darkgray;
}

.inactive {
    background-color: inherit;
}