/* src/components/Basic/TechnologyCard/TechnologyCard.css */

.technology {
    display: flex;
    flex-direction: column;
    border: 1px solid #122bcf;
    border-radius: 8px;
    padding: 4px;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}
.technology:hover {
    box-shadow: 0 8px 16px rgba(255, 26, 221, 0.2);
    transform: scale(1.05);
}

.logo {
    width: 40px;
    height: 40px;
    object-fit: contain;
    margin-bottom: 2px;
}
  
.name {
    font-size: 0.6em;
    text-align: center;
}
  