/* src/components/Composite/ProfileBox/ProfileBox.css */

.profile-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    border: 2px solid black;
    max-width: 300px;
    background-color: rgba(209, 207, 228, 0.8);
    margin: 15px;
    padding: 15px;
}

.profile-box__photo {
    width: 200px;
    height: 200px;
    border-radius: 12px;
}

.profile-box__info {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-bottom: 5px;
}

.profile-box__info__name {
    font-size: 1.5rem;
    margin: 0;
}

.profile-box__info__title {
    font-size: 1rem;
    margin: 0;
    color: gray;
}

.profile-box__contacts {
    display: flex;
    flex-direction: column;
}

.profile-box__socials {
    display: flex;
    flex-direction: row;
}