/* src/components/Composite/ProfileBox/ProfileBox.css */

.profile-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    border-color: black;
    max-width: 300px;
}

.profile-box__photo {
    width: 200px;
    height: 200px;
}

.profile-box__info {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-bottom: 5px;
}

.profile-box__info__name {
    font-size: 1.5rem;
    margin: 0;
}

.profile-box__info__title {
    font-size: 1rem;
    margin: 0;
    color: gray;
}

.profile-box__contacts {
    display: flex;
    flex-direction: column;
}

.profile-box__socials {
    display: flex;
    flex-direction: row;
}