/* Contact.css */

.contact {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.contact-logo {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.contact-name {
    font-size: 1em;
    color: #1b71ce;
}

.contact a {
    text-decoration: none;
    color: inherit;
}

.contact a:hover .contact-name {
    text-decoration: underline;
}
