/* src/components/Composite/Position/PositionList.css *//* src/components/Composite/PositionList/PositionList.css */
.position-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}