.App {
  text-align: center;
  background-color: #f7f4f4;
  display: flex;
  flex-direction: row;
  justify-items: top;
}

.main {
  flex: 4;
  display: flex;
  flex-direction: column;
}

.name {
  text-align: left;
  font-size: 4em;
  margin: 10px;
}