.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-items: top;
}

.main-content {
  flex: 4;
  display: flex;
  flex-direction: column;
}

.profile-box {
  flex: 1;
  align-self: flex-start;
  position: sticky;
  top: 15px;
}
